@font-face {
  font-family: "founder";
  src:url("founder.otf");
}

@font-face {
  font-family: "founderitalic";
  src:url("founderitalic.otf");
}

@font-face {
  font-family: "suisse";
  src:url("suisse.otf");
}

body {
	padding-top: 60px;
	margin: 0 auto;
	background: white;
  	overflow-x: hidden;
}

html, body {
    height: 100%;
}

header {
    background: white;
    height: 110px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    /*color: white;*/
    z-index:10;
    left: 50%;
    transform: translate(-50%, 0);

}
.navigation {
	width: 238px;
	height:100px;
	top: 78px;
	left: 50%;
	position: absolute;
	transform:translate(-50%,0);
}

.last {
	margin-right: -45px;
}

ul {
	font-family: 'suisse';
	font-size: .7em;
	color: white;
	text-decoration: none;
	width: auto;
	text-align: right;
	list-style: none;
	padding:0;
}

a {
	text-decoration: none;
	color: black;
}

li {
	float: left;
	margin-right: 48px;
}

.logo {
	top: 8%;
	width: 40px;
	height: 60px;
	float: left;
	left: 50%;
	transform:translate(-50%,0);
	position: absolute;
}


.nav-up {
    top: -110px;
}


.biggestcontainer {
	max-width: 1200px;
	height: 100%;
	position: absolute;
	z-index: 0;
	float: left;
	left: 50%;
	transform:translate(-50%,0);
}

.content{
	max-width: 1200px;
	padding-top: 70px;
	height: 3000px;
	position: relative;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


.imageboxset {
	position: relative;
	float: left;
    width: 600px;
    height: 350px;
}

.imagebox1 {
    max-width: 100%;
    height: 100%;
    background-image: url('test.jpg');
    background-size: 100%;
}



.headline2 a {
	padding-top: 10px;
	font-family: 'suisse';
	font-size: 1em;
	color: black;
	text-decoration: none;
	
}

a:hover{
	color:black;
}

.navigation a:hover{
	color:black;
	background-color: #ff6600;
	}


p {
	margin: 0 auto;
	font-size: 1.2em;
	line-height: 1.5em;
	font-family: 'founder';
	color: white;
}

.headline {
	font-family: 'founderitalic';
	font-size: 1em;
	color: white;

}

.headline2 {
	font-family: 'suisse';
	font-size: 1em;
	line-height: 1.4em;
	color: white;

}

.headline3 {
	font-family: 'suisse';
	font-size: 1.5em;
	line-height: 1.8em;
	color: white;
}

.divider {
	width: 100%;
	margin: 0 auto;
	height: 1px;
	background-color: whitek;
	max-width: 1200px;
}



/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) {

.box2{
	padding-top: 12%;
	width: 90%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

.headline3 {
	font-size: 1.2em;
	line-height: 1.5em;
}
