@import "compass/css3";

@font-face {
  font-family: "founder";
  src:url("founder.otf");
}

@font-face {
  font-family: "founderitalic";
  src:url("founderitalic.otf");
}

@font-face {
  font-family: "suisse";
  src:url("suisse.otf");
}


body {
	padding: 0;
	margin: 0 auto;
	background: white;
  	overflow-x: hidden;
}

html, body {
    height: 100%;
 	margin: 0 auto;
}

.biggestcontainer {
	width: 80%;
	height: 85%;
	margin: 0 auto;
	position: relative;
	z-index: 0;

}


.nav{
	width: 80%;
	height: 10%;
	margin: 0 auto;
	position: fixed;
	background: white;
	z-index: 5;
}



.navigation {
	margin: 0 auto;
	width: 80%;
	padding-top: 2%;
	font-family: 'suisse';
	font-size: .4em;
	color: black;

}

.navigation a{
	text-decoration: none;
	font-family: 'suisse';
	font-size: .4em;
	color: #69d4d8;

	}

a:hover{
		color:white;
		background-color: #ff6600;
}

.navigation a:hover{
	color:white;
	background-color: #ff6600;
	}


#navlink {
	text-decoration: none;
	font-size: .5em;
}

#navlink2 {
	text-decoration: none;
	font-size: .5em;
}



.box2{
	padding-top: 10%;
	width: 80%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}


img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}



p {
	margin: 0 auto;
	font-size: .8em;
	line-height: 1.5em;
	font-family: 'founder';
	color: #1a1a1a;
}

.imagebox {
	max-width: 100%;
    height: auto;
    width: auto\9;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	left: 5%;
	width: 90%;
	height: 90%;
}

.headline {
	font-family: 'founderitalic';
	font-size: 1em;
	color: #1a1a1a;

}

.headline2 {
	font-family: 'suisse';
	font-size: 1em;
	line-height: 1.4em;
	color: #1a1a1a;

}

.divider {
	margin: 0 auto;
	height: 2px;
	background-color: black;
}
