@font-face {
  font-family: "founder";
  src:url("founder.otf");
}

@font-face {
  font-family: "founderitalic";
  src:url("founderitalic.otf");
}

@font-face {
  font-family: "suisse";
  src:url("suisse.otf");
}

body {
	padding-top: 60px;
	margin: 0 auto;
	background: white;
  	overflow-x: hidden;
}

html, body {
    height: 100%;
}

header {
    background: white;
    height: 130px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index:10;
    left: 50%;
    transform: translate(-50%, 0);

}

.scrollup {
	height: 30px;
	padding: 0;
	width: auto;
	top: 87%;
	left: 50%;
	z-index: 100;
	position: fixed;
	font-size: 5em; 
    color: #ee2a24;
     transition: opacity 0.2s ease-in-out;
    font-family: 'suisse';
    transform: translate(-50%, 0);
    opacity: .40;

}

.scrollup:hover {
	opacity: 1;
}

.goback {
	width: 20px;
	padding: 0;
	height: auto;
	z-index: 100;
	position: fixed;
	font-size: 4em; 
    color: #ee2a24;
    font-family: 'suisse';
    left: 5%;
    transition: opacity 0.2s ease-in-out;
    transform: translate(-5%, 0);
    opacity: .40;
}

.goback:hover {
	opacity: 1;
}

.navigation {
	width: 238px;
	height:100px;
	top: 95px;
	left: 50%;
	position: absolute;
	transform:translate(-50%,0);
}

.last {
	margin-right: -45px;
}

ul {
	font-family: 'suisse';
	font-size: .7em;
	color: white;
	text-decoration: none;
	width: auto;
	text-align: right;
	list-style: none;
	padding:0;
}

li {
	float: left;
	margin-right: 48px;
}

a {
	text-decoration: none;
	color: black;
}

.nav-up {
    top: -130px;
}

.logo {
	top: 20px;
	width: 40px;
	height: 60px;
	float: left;
	left: 50%;
	transform:translate(-50%,0);
	position: absolute;
}

/*start of containers
*/


.biggestcontainer {
	max-width: 1250px;
	width: 100%;
	position: absolute;
	z-index: 0;
	left: 50%;
	height:100%;
	transform:translate(-50%,0);
}

.content{
	max-width: 1200px;
	width: 100%;
	padding-top: 70px;
	position: absolute;
	left: 50%;
	transform:translate(-50%,0);
	padding-bottom: 50px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#biolumina {
	max-width: 100%;
	height: 400px;
	background: url(biolumina.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}


#overlay {
	position: relative;
	opacity: 0;
	text-align:center;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	top: 40%;
    -webkit-transform: translateY(-40%,0);
    -ms-transform: translateY(-40%,0);
    transform: translateY(-40%,0);
}


#biolumina:hover #overlay {
     opacity: 1;
}

#plus{  
	font-family: 'founder';
    color: white;
    font-size:96px;
}


#tbd {
	max-width: 100%;
	height: 400px;
	background: url(tbd.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}


#overlay2 {
	position: relative;
	opacity: 0;
	text-align:center;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	top: 40%;
    -webkit-transform: translateY(-40%,0);
    -ms-transform: translateY(-40%,0);
    transform: translateY(-40%,0);
}


#tbd:hover #overlay2 {
     opacity: 1;
}

#tbdcaption{  
	font-family: 'founder';
    color: white;
    font-size:96px;
}


#typeface {
	max-width: 100%;
	height: 400px;
	background: url(csstype.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}


#overlay3 {
	position: relative;
	opacity: 0;
	text-align:center;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	top: 40%;
    -webkit-transform: translateY(-40%,0);
    -ms-transform: translateY(-40%,0);
    transform: translateY(-40%,0);
}


#typeface:hover #overlay3 {
     opacity: 1;
}

#typefacecaption{  
	font-family: 'founder';
    color: white;
    font-size:96px;
}

#umbrella {
	max-width: 100%;
	height: 400px;
	background: url(umbrella.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}


#overlay3 {
	position: relative;
	opacity: 0;
	text-align:center;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	top: 40%;
    -webkit-transform: translateY(-40%,0);
    -ms-transform: translateY(-40%,0);
    transform: translateY(-40%,0);
}


#umbrella:hover #overlay3 {
     opacity: 1;
}

#umbrellacaption{  
	font-family: 'founder';
    color: white;
    font-size:96px;
}

#icons {
	max-width: 100%;
	height: 400px;
	background: url(icons.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}


#overlay4 {
	position: relative;
	opacity: 0;
	text-align:center;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	top: 40%;
    -webkit-transform: translateY(-40%,0);
    -ms-transform: translateY(-40%,0);
    transform: translateY(-40%,0);
}


#icons:hover #overlay4 {
     opacity: 1;
}

#iconscaption{  
	font-family: 'founder';
    color: white;
    font-size:96px;
}

#poem {
	max-width: 100%;
	height: 400px;
	background: url(poem.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	opacity: 1;
}


#overlay5 {
	position: relative;
	opacity: 0;
	text-align:center;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	top: 40%;
    -webkit-transform: translateY(-40%,0);
    -ms-transform: translateY(-40%,0);
    transform: translateY(-40%,0);
}


#poem:hover #overlay5 {
     opacity: 1;
}

#poemcaption{  
	font-family: 'founder';
    color: white;
    font-size:96px;
}

#active {
	max-width: 100%;
	height: 400px;
	background: url(active.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}


#overlay6 {
	position: relative;
	opacity: 0;
	text-align:center;
	top: 40%;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
    -webkit-transform: translateY(-40%,0);
    -ms-transform: translateY(-40%,0);
    transform: translateY(-40%,0);
}


#active:hover #overlay6 {
     opacity: 1;
}

#activecaption{  
	font-family: 'founder';
    color: white;
    font-size:96px;
}

#typophoto {
	max-width: 100%;
	height: 400px;
	background: url(typophoto.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}


#overlay7 {
	position: relative;
	opacity: 0;
	text-align:center;
	top: 40%;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
    -webkit-transform: translateY(-40%,0);
    -ms-transform: translateY(-40%,0);
    transform: translateY(-40%,0);
}


#typophoto:hover #overlay7 {
     opacity: 1;
}

#typophotocaption{  
	font-family: 'founder';
    color: white;
    font-size:96px;
}




.navigation a:hover{
	color: white;
	background-color: #ff6600;
}

.textbox {
	position: relative;
	max-width: 1200px;
	padding: 100px;
	height: auto;
	left: 50%;
	transform:translate(-50%,0);

}

p {
	font-size: 2em;
	line-height: 1.5em;
	font-family: 'founder';
	color: black;
}

.headline {
	font-family: 'founderitalic';
	font-size: 4em;
	color: black;
}

.responsive-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	padding:;
}
.responsive-container iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

#contact {
	width: 900px;
	height: 100px;
	padding-top: 20px;
	position: relative;
	text-align: center;

}

#contact a:hover {
	color: #ee2a24;
}
/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) {

	.headline{
		font-size: 2em;
	}

	.textbox{
		max-width: 700px;
		padding: 70px;
	}

	p {
		font-size: 1em;
	}

	#biolumina{
		height:300px;
	}

	#tbd{
		height:300px;
	}

		#typeface{
		height:300px;
	}

		#umbrella{
		height:300px;
	}

		#icons{
		height:300px;
	}

		#poem{
		height:300px;
	}

		#active{
		height:300px;
	}

		#typophoto{
		height:300px;
	}

@media screen and (max-width: 414px) {
	.headline{
		font-size: 2em;
	}

	.textbox{
		max-width: 480px;
		padding: 50px;

	}

	p {
		font-size: 1em;
	}

	#biolumina{
		height:200px;
	}
	#tbd{
		height:200px;
	}

	#typeface{
		height:200px;
	}

	#umbrella{
		height:200px;
	}

	#icons{
		height:200px;
	}	

		#poem{
		height:200px;
	}

		#active{
		height:200px;
	}	

		#typophoto{
		height:200px;
	}

@media screen and (max-width: 308px) {
	.headline{
		font-size: 2em;
	}

	.textbox{
		max-width: 250px;
	}

		p {
		font-size: .1em;
	}


	#biolumina{
		height:100px;
	}
		#tbd{
		height:100px;
	}

		#typeface{
		height:100px;
	}

		#umbrella{
		height:100px;
	}

		#icons{
		height:100px;
	}

		#poem{
		height:100px;
	}

		#active{
		height:100px;
	}

		#typophoto{
		height:100px;
	}