@import "compass/css3";

body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: black;

}

a {
	color: white;
	text-decoration: none;

}

a:hover {
	text-shadow: 0 0 5px #98ffea;
    color: transparent;
    cursor: pointer;
}


:target {
  animation: highlight 1s ease;     
}

.flex-container {
  top: 100px;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  background: black;
}

#about {
  background: tomato;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}



#get {
  background: tomato;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}


#exp {
  background: tomato;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}


#contact {
  background: tomato;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}


.navigation {
    background: black;
    width: 100%;
    position: fixed;
    z-index: 0;
    color: white;
    list-style-type: none;
    font-size: 1.5em;
    padding-left: 30px;
}

.site-wrap {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;
}

.navbar {
	width: 100%;
	height: 20%;
	position: fixed;
	background: black;
	color: white;
	z-index: 5;
}

.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
    position: fixed;
    top: 15px;
    left: 0px;
    z-index: 2;
}

label[for="nav-trigger"] {
    /* ... previous styles here... */
    display: none;
    top: 20px;
    left: 15px;
    width: 24px;
    height: 25px;
    cursor: pointer;
    background-image: url("icon.svg");
    background-size: 24px 25px;
}

.nav-trigger:checked + label {
    left: 215px;
    height:25px;
    background-image: url("x.svg");
    background-size: 24px 25px;
}

.nav-trigger:checked ~ .site-wrap {
    left: 200px;
}

.nav-trigger + label, .site-wrap {
    transition: left 0.2s;
}

body {
    overflow-x: hidden;
}

.logo {
	font-size: 1.5em;
	padding-left: 3em;
	float: left;
	position: relative;
}

.nav{
	display: block;
	float: right;
	position: relative;
	padding-right: 3em;
}


.navcontent {
	background: black;
	font-size: 1.5em;
	padding-top: 1em;
}

#navcontentlink {
	color: white;
	display: inline;
	padding-right: 1em;
	list-style-type: none;


}

#navget {
  color: white;
  display: inline;
  padding-right: 1em;
  list-style-type: none;


}

#navexp {
  color: white;
  display: inline;
  padding-right: 1em;
  list-style-type: none;


}

#navcontact {
  color: white;
  display: inline;
  padding-right: 1em;
  list-style-type: none;


}

#navabout {
  color: white;
  display: inline;
  padding-right: 1em;
  list-style-type: none;
}






/* Ipad
-------------------------------------------------- */

@media screen and (max-width: 768px) {

.nav{
	display: none;
}

label[for="nav-trigger"] {
	display: block;
}

/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 320px) {

.nav{
	display: none;

}

label[for="nav-trigger"] {
	display: block;
}
