@import "compass/css3";

body {
	padding: 0;
	margin: 0 auto;
	font-family: sans-serif;
	background: black;
  overflow-x: hidden;

}

a {
	color: white;
	text-decoration: none;

}

a:hover {
	text-shadow: 0 0 5px #98ffea;
    color: transparent;
    cursor: pointer;
}


#header {
    width: 100%;
    z-index: 100;
    height:30%;
}

.fixed {
    position: fixed;
    top: 0;
}

#header-wrap {
    position: relative;
}


.flex-container {
  top: 100px;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  background: black;
}

#about {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#about2 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#about3 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#about4 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}


#get {
  background:cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#get2 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#get3 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#get4 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}


#exp {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#exp2 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#exp3 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#exp4 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#contact {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#contact2 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#contact3 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

#contact4 {
  background: cyan;
  padding: 5px;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  line-height: 150px;
}

.navigation {
    width: 100%;
    position: fixed;
    color: white;
    list-style-type: none;
    font-size:1.7em;
    padding-left: 25px;
    z-index: 3;
    background-color: black;
}

.navbar {
	width: 100%;
	height: 20%;
	position: fixed;
	background: black;
	color: white;
	z-index: 2;
}


.logo {
	font-size: 1.5em;
	position: relative;
  width: 100%;
  padding-left: 60px;
}



#navget {
  color: white;
  padding-right: 1em;
  list-style-type: none;
  display: inline;
}

#navexp {
  color: white;
  padding-right: 1em;
  list-style-type: none;
  display: inline;


}

#navcontact {
  color: white;
  padding-right: 1em;
  list-style-type: none;
  display: inline;

}

#navabout {
  color: white;
  padding-right: 1em;
  list-style-type: none;
  display: inline;
}


  #image1 {
    width: 500px;
    height: 500px;
  }



/* Ipad
-------------------------------------------------- */

@media screen and (max-width: 768px) {

  #image1 {
    width: 200px;
    height: 200px;
  }


/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 320px) {

