 
@font-face {
  font-family: "founder";
  src:url("founder.otf");
}

@font-face {
  font-family: "founderitalic";
  src:url("founder.otf");
}

@font-face {
  font-family: "suisse";
  src:url("suisse.otf");
}

body {
	padding-top: 60px;
	margin: 0 auto;
	background: white;
  	overflow-x: hidden;
}


html, body {
    height: 100%;
}

header {
    background: white;
    height: 130px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index:10;
    left: 50%;
    transform: translate(-50%, 0);

}


.scrollup:hover {
	opacity: 1;
}

.goback {
	width: 20px;
	padding: 0;
	height: auto;
	z-index: 100;
	position: fixed;
	font-size: 4em; 
    color: #ee2a24;
    font-family: 'suisse';
    left: 5%;
    transition: opacity 0.2s ease-in-out;
    transform: translate(-5%, 0);
    opacity: .40;
}

.goback:hover {
	opacity: 1;
}

.navigation {
	width: 238px;
	height:100px;
	top: 95px;
	left: 50%;
	position: absolute;
	transform:translate(-50%,0);
}

.last {
	margin-right: -45px;
}

ul {
	font-family: 'fira mono';
	font-size: .7em;
	color: white;
	text-decoration: none;
	width: auto;
	text-align: right;
	list-style: none;
	padding:0;
}

li {
	float: left;
	margin-right: 48px;
}

a {
	text-decoration: none;
	color: black;
}

.nav-up {
    top: -130px;
}

.logo {
	top: 20px;
	width: 40px;
	height: 60px;
	float: left;
	left: 50%;
	transform:translate(-50%,0);
	position: absolute;
}

/*start of containers
*/

.biggestcontainer {
	max-width: 1258px;
	width: 100%;
	position: absolute;
	z-index: 0;
	left: 50%;
	height:100%;
	transform:translate(-50%,0);
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#content{
	width:100%;
	position:relative;
	padding-top: 70px;
	padding-bottom: 50px;
}

.projectmod {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2.5px solid white;
    margin: 0px;
	float: left;
	width:416px;
	height: 500px;
	overflow:hidden;
	opacity: 1;
}

.projectmod:hover {

}

.overlay {
	font-family: 'varela round', sans-serif;
	word-spacing: 1px;
	text-align: center;
	font-size: 16pt;
	padding-top: 10px;
	float: left;
	font-weight: 1000;
	width: 416px;
	height: 26px;
	overflow:hidden;
	opacity: 1;	margin: 0;
	color: #3d3d3d;
}

.tags {
	font-family: 'Fira Mono', monospace;
	word-spacing: .2pt;
	text-align: center;
	font-size: 10pt;
	float: left;
	font-weight: 400;
	width: 416px;
	height: 30px;
	overflow:hidden;
	opacity: 1;
	background-color:white;
	margin-top:5px;
	color: #006f76;
}

#catalog {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(catalog.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#catalog:hover {
	opacity: .1;
	-webkit-transition: opacity .2s;
}

#passport {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(pass.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#passport:hover {
	opacity: .2;
	-webkit-transition: opacity .5s;
}


#biolumina {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(biolumina.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#biolumina:hover {

}

#tbd {
    float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(snapchat.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#tbd:hover {

}

#arleo {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(arleo.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#arleo:hover {

}

#thesis {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(thesis.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#thesis:hover {

}

#umbrella {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(umbrella.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#umbrella:hover {
}

#icons {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(icons.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#icons:hover {
}

#poem {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(poem.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
	opacity: 1;
}

#poem:hover {

}

#active {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(active.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#csstypeface {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(csstype2.gif);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#active:hover {
}

#typophoto {
	float: left;
	max-width:416px;
	width: 100%;
	max-height: 350px;
	height: 100%;
	background: url(typophoto.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	overflow:hidden;
	opacity: 1;
}

#typophoto:hover {
}

.navigation a:hover{
}

.textbox {
	font-family: 'Rozha One', serif;
	word-spacing: 1px;
	text-align: center;
	font-size: 44pt;
	word-spacing: 1px;
	float: left;
	max-width: 100%;
	padding: 50px;
	line-height: 1.25em;
	height: auto;
	background-color: #3d3d3d;
	color: white
}


.headline {
	font-family: 'founderitalic';
	font-size: 3em;
	color: black;
}

.responsive-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	padding:;
}
.responsive-container iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

#contact {
	float:left;
	width: 600px
	height: 100px;
	padding-top: 20px;
	position: relative;
	left: 50%;
	transform:translate(-50%,0);

}

#contact a:hover {
	color: #ee2a24;
}
/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 768px) {


@media screen and (max-width: 414px) {


@media screen and (max-width: 768px) {
.projectmod {
	width:375px;
	height: 416px;
	border: 0px;
	padding-bottom: 10px;
}

.catalog {
	max-height: 350px;
}

.catalog {
	max-height: 350px;
}
.arleo {
	max-height: 350px;
}
.passport {
	max-height: 350px;
}
.poem {
	max-height: 350px;
}
.biolumina {
	max-height: 350px;
}
.csstypeface {
	max-height: 350px;
}
.typophoto {
	max-height: 350px;
}

.umbrella {
	max-height: 350px;
}

.tbd {
	max-height: 350px;
}

.icons {
	max-height: 350px;
}

.thesis {
	max-height: 350px;
}

.active {
	max-height: 350px;
}

.overlay {
	width: 375px;
	font-size: 12pt
}
.textbox{
	width: 375px;
	padding: 0px;
	font-size: 24px;
}

.tags {
	width: 375px;
	font-size: 5pt
}

.header {
	max-width: 375px;
}