body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	color: white;
}

a:hover {
	color: #F26A29
}

#container {
	float: left;
	position: relative;
	width: 100%;
	height: 100vh;
	background: linear-gradient(#383838, #000000);

}

#container::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: 	url("bg.jpg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: opacity(15%) grayscale(100%);
}



.logo {
	max-width: 400px;
	max-height: 403.5px;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	color:white;
	background-image: url("t9.svg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: fadeIn ease 5s;
  	-webkit-animation: fadeIn ease 5s;
  	-moz-animation: fadeIn ease 5s;
  	-o-animation: fadeIn ease 5s;
  	-ms-animation: fadeIn ease 5s;
}

.logo {
	max-width: 400px;
	max-height: 403.5px;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	background-image: url("t9.svg");
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: fadeIn ease 5s;
  	-webkit-animation: fadeIn ease 5s;
  	-moz-animation: fadeIn ease 5s;
  	-o-animation: fadeIn ease 5s;
  	-ms-animation: fadeIn ease 5s;
}

.arrow1 {
  display:block;
  max-width: 45px;
  max-height:22px;
  width: 100%;
  height:100%;
  left: 95%;
  top: 90%;
  transform: translate(-95%,-90%);
  position: absolute;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  animation-delay: .5s;
}

#arrowdown {
	fill: white;
}

.arrow1:hover > #arrowdown {
	fill: #F26A29;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

#container2 {
	float: left;
	position: relative;
	width: 100%;
	height: 100vh;
}


.arrow2{
  display:block;
  max-width: 45px;
  max-height:22px;
  width: 100%;
  height:100%;
  left: 95%;
  top: 90%;
  transform: translate(-95%,-90%);
  position: absolute;

}

#arrowdown2{
	fill: #1a1a1a;
}

.arrow2:hover > #arrowdown2{
	fill: #F26A29;
}


.typebox {
	font-family: helvetica;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-width: 1024px;
	max-height: 100%;
	width: 95%;
	text-align: left;
}

h1 {
	font-size: 2em;
	color: #F26A29;
	font-weight: 500;
	letter-spacing:  .1em;
}

h2 {
	font-size: 2.5em;
	color: #1a1a1a;
	font-weight: 500;
}

h3 {
	font-size: 1.5em;
	color: #1a1a1a;
	font-weight: 300;
	line-height: 1.4em;
}


#container3 {
	float: left;
	position: relative;
	width: 100%;
	height: 600px;
	background-color: #4d4d4d;
}

.arrow3{
  display:block;
  max-width: 45px;
  max-height:22px;
  width: 100%;
  height:100%;
  left: 95%;
  top: 90%;
  transform: translate(-95%,-90%);
  position: absolute;

}

#arrowup{
	fill: white;
}

.arrow3:hover > #arrowup{
	fill: #F26A29;
}

.form {
	font-family: helvetica;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
}

input {
	width: 600px;
	height: 50px;
	border: none;
	margin-bottom: 10px;
	font-size: 1.25em;
	background-color: #dadada;
	color: #F26A29;
	font-weight: bold;

}

textarea {
	width: 1024px;
	height:300px;
	background-color: #dadada;
	border: none;
	margin-bottom: 10px;
	font-size: 1.25em;
}

button {
	width: 150px;
	height: 40px;
	background-color: #1a1a1a;
	border: none;
	color: white;
	font-size: 1em;

}


#container4 {
	font-size: 12pt;
	float: left;
	position: relative;
	width: 100%;
	height: 180px;
	background-color: #1d1d1d;
	font-family: helvetica;
}


.footer {
 	font-family: helvetica;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	max-width: 1024px;
	max-height: 100%;
	width: 95%;
	text-align: left;
}

.contact1 {
	position: relative;
	float: left;
	max-width: 256px;
	width:100%;
}

.footerlogo {
	position: relative;
	float: left;
	width: 99px;
	height: 100px;

}

.contact2 {
	position: relative;
	float: left;
	max-width: 256px;
	width:100%;
	height: 50px;
	color: white;
}

.contact3 {
	position: relative;
	float: left;
	max-width: 256px;
	width:100%;
	height: 30px;
	color: white;
}

.contact4 {
	display: block;
	position: relative;
	float: left;
	width: auto;
	height: 30px;
	color: white;
}



/*Media Queries*/
@media only screen and (min-width: 375px) and (max-width: 410px) {

.logo {
	max-width: 250px;
	max-height: 253.5px;
}

#container4 {
	font-size: 9pt;
}

.footer {
	max-width: 326px;
}

#container3{
	height: 600px;
}

.contact1 {
	max-width: 163px;
}

.contact2 {
	margin-bottom: 5px;
	max-width: 163px;
}

.contact3 {
	margin-bottom: 10px;
	max-width: 163px;
}

.contact4 {

	max-width: 180px;
}

input {
	font-size: .8em;
	max-width: 326px;
}

textarea {
		font-size: 1em;
	max-width: 326px;
}

button {
		font-size: 1em;
}

.typebox {
		font-size: 1em;
	max-width: 326px;
}

h1 {
font-size: .75em;
}

h2 {
font-size: 1.25em;
}

h3 {
font-size: .75em;
}

.arrow1{
top: 95%;
transform: translate(-95%,-95%);
}

.arrow2{
top: 95%;
transform: translate(-95%,-95%);
}

.arrow3{
top: 95%;
transform: translate(-95%,-95%);
}

}



@media only screen and (min-width: 411px) and (max-width: 767px) {

.logo {
	max-width: 300px;
	max-height: 303.5px;
}

.footer {
	max-width: 360px;
}

#container3{
	height: 700px;
}

.contact1 {
	max-width: 180px;
}

.contact2 {
	margin-bottom: 5px;
	max-width: 180px;
}

.contact3 {
	margin-bottom: 10px;
	max-width: 180px;
}

.contact4 {

	max-width: 180px;
}

input {
	font-size: 1em;
	width: 360px;
}

textarea {
		font-size: 1em;
	width: 360px;
}

button {
		font-size: 1em;
}

.typebox {
		font-size: 1em;
	width: 360px;
}

h1 {
font-size: 1em;
}

h2 {
font-size: 1.5em;
}

h3 {
font-size: 1em;
}

.arrow1{
top: 95%;
transform: translate(-95%,-95%);
}

.arrow2{
top: 95%;
transform: translate(-95%,-95%);
}

.arrow3{
top: 95%;
transform: translate(-95%,-95%);
}

}



@media only screen and (min-width: 768px) and (max-width: 799px) {

.footer {
	max-width: 768px;
}

.contact1 {
	max-width: 192px;
}

.contact2 {
	max-width: 192px;
}

.contact3 {
	max-width: 192px;
}

.contact4 {
	max-width: 192px;
}

input {
	width: 512px;
}

textarea {
	width: 512px;
}

.typebox {
	max-width: 512px;
}

h1 {
font-size: 1.75em;
}

h2 {
font-size: 2.25em;
}

h3 {
font-size: 1.25em;
}

}


@media only screen and (min-width: 800px) and (max-width: 1080px) {
#container4 {
	font-size: 12pt;
}


.footer {
	max-width: 768px;
}

.contact1 {
	max-width: 192px;
}

.contact2 {
	max-width: 192px;
}

.contact3 {
	max-width: 192px;
}

.contact4 {
	max-width: 192px;
}

input {
	width: 728px;
}

textarea {
	width: 728px;
}

.typebox {
	max-width: 728px;
}


}

@media only screen and (min-width: 1441px) and (max-width: 1920px) {

.logo {
	max-width: 450px;
	max-height: 453.5px;
}

#container4 {
	font-size: 14pt;
}

.footer {
	max-width: 1280px;
}

.contact1 {
	max-width: 320px;
}

.contact2 {
	max-width: 320px;
}

.contact3 {
	max-width: 320px;
}

.contact4 {
	max-width: 320px;
}

#container3 {
	height: 900px;
}

input {
	width: 1280px;
}

textarea {
	width: 1280px;
	height: 525px;
}

.typebox {
	max-width: 1280px;
}

h1 {
font-size: 1.75em;
}

h2 {
font-size: 2.75em;
}

h3 {
font-size: 2em;
}

}

@media only screen and (min-width: 1921px) and (max-width: 3000px) {

.logo {
	max-width: 550px;
	max-height: 553.5px;
}

#container4 {
	font-size: 16pt;
}

.footer {
	max-width: 1440px;
}

.contact1 {
	max-width: 360px;
}

.contact2 {
	max-width: 360px;
}

.contact3 {
	max-width: 360px;
}

.contact4 {
	max-width: 360px;
}

#container3 {
	height: 900px;
}


input {
	width: 1440px;
}

textarea {
	width: 1440px;
	height: 525px;
}

.typebox {
	max-width: 1440px;
}

h1 {
font-size: 2.75em;
}

h2 {
font-size: 3.25em;
}

h3 {
font-size: 2.75em;
}

}

