body {
	background: black;
}

.container {
	width: 1000px;
	height: 100%;
	margin: 0 auto;
	left: 50%;
	background: black;
	position: absolute;
	transform: translate(-50%);
}

.button {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: absolute;
	top: 380px;
	left: 50%;
}

.enter {
	display: none;
	width: 370px;
	height: 89px;
	background: black;
	position: absolute;
	top: 400px;
	left: 320px;
}

.button:hover + .enter {
	display: block;
}

.button:active + .enter {
	background: #cc0099;
}


.button2 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: absolute;
	top: 350px;
	left: 50%;
	-ms-transform: scale(2,2); 
 	-webkit-transform: scale(2,2); 
	transform: scale(2,2); */
	transform: translate(-50%);
}

.enter2 {
	display: none;
	width: 370px;
	height: 89px;
	background: black;
	position: absolute;
	top: 420px;
	left: 360px;
	-ms-transform: scale(2,2); 
 	-webkit-transform: scale(2,2); 
	transform: scale(2,2); */
}

.button2:hover + .enter2 {
	display: block;
}

.button2:active + .enter2 {
	background: #cc0099;
}

.button3 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: absolute;
	top: 310px;
	left: 50%;
	-ms-transform: scale(3,3); 
 	-webkit-transform: scale(3,3); 
	transform: scale(3,3); */
}

.enter3 {
	display: none;
	width: 370px;
	height: 89px;
	background: black;
	position: absolute;
	top: 430px;
	left: 360px;
	-ms-transform: scale(3,3); 
 	-webkit-transform: scale(3,3); 
	transform: scale(3,3); */
}

.button3:hover + .enter3 {
	display: block;
}

.button3:active + .enter3 {
	background: #cc0099;
}

.button4 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: absolute;
	top: 195px;
	left: 50%;
}

.enter4 {
	display: none;
	width: 370px;
	height: 89px;
	background: black;
	position: absolute;
	top: 100px;
	left: 320px;
}

.button4:hover + .enter4 {
	display: block;
}

.button4:active + .enter4 {
	background: #cc0099;
}


.button5 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: absolute;
	top: 225px;
	left: 50%;
	-ms-transform: scale(2,2); 
 	-webkit-transform: scale(2,2); 
	transform: scale(2,2); */
}

.enter5 {
	display: none;
	width: 370px;
	height: 89px;
	background: black;
	position: absolute;
	top: 80px;
	left: 360px;
	-ms-transform: scale(2,2); 
 	-webkit-transform: scale(2,2); 
	transform: scale(2,2); */
}

.button5:hover + .enter5 {
	display: block;
}

.button5:active + .enter5 {
	background: #cc0099;
}

.button6 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: absolute;
	top: 265px;
	left: 50%;
	-ms-transform: scale(3,3); 
 	-webkit-transform: scale(3,3); 
	transform: scale(3,3); */
}

.enter6 {
	display: none;
	width: 370px;
	height: 89px;
	background: black;
	position: absolute;
	top: 70px;
	left: 360px;
	-ms-transform: scale(3,3); 
 	-webkit-transform: scale(3,3); 
	transform: scale(3,3); */
}

.button6:hover + .enter6 {
	display: block;
}

.button6:active + .enter6 {
	background: #cc0099;
}

.letterE {
	width: 74px;
	height: 88px;
	position: relative;
	float: left;
	margin: 0 auto;
}

.letterN {
	width: 74px;
	height: 88px;
	position: relative;
	float: left;
}

.letterT {
	width: 74px;
	height: 88px;
	position: relative;
	float: left;
}

.letterR {
	width: 74px;
	height: 88px;
	position: relative;
	float: left;
}


.topleftline {
		border-top:1px solid #00ff42;
		width:13px;
		transform: rotate(45deg);
		transform-origin: 0% 0%;
        position: absolute;
        left: .5px;
}

.toprightline {
		border-top:1px solid #00ff42;
		width:13px;
		transform: rotate(135deg);
		transform-origin: 0% 0%;
        position: absolute;
        left: 9.2px;

}


.column1 {
	width:9px;
	height: 88px;
	position: absolute;
}



.a1 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}



.a2 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;

}

.a3 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;

}

.a4 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;

}

.a5 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;

}

.a6 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;

}

.a7 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;

}

.a8 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;

}

.column2 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 9px;
}

.b1 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.b2 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.b3 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.b4 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.b5 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.b6 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.b7 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.b8 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.column3 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 18px;
}

.c1 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.c2 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.c3 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.c4 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.c5 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.c6 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.c7 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.c8 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.column4 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 27px;
}

.d1 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.d2 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.d3 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.d4 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.d5 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.d6 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.d7 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.d8 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.column5 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 36px;
}

.e1 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.e2 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.e3 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.e4 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.e5 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.e6 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.e7 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.e8 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.column6 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 45px;
}

.f1 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.f2 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.f3 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.f4 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.f5 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.f6 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.f7 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.f8 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.column7 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 54px;
}

.g1 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.g2 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.g3 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.g4 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.g5 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.g6 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.g7 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.g8 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.column8 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 63px;
}

.h1 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.h2 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.h3 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.h4 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.h5 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.h6 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.h7 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}

.h8 {
	width:9px;
	height:9px;
	border: 1px solid #00ff42;
	position: relative;
}