
.container {
	width: 700px;
	height: 700px;
	margin: 100px auto;
	left: 0px;
	background: white;
	position: relative;
}

.letterA {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	float:left;
	top:0;
	left:0;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterB {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 100px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterC {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 200px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterD {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 300px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterE {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 400px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterF {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 500px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterG {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 0px;
	top: 100px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterH {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 100px;
	top: 100px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterI {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 200px;
	top: 100px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterJ {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 300px;
	top: 100px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterK {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 400px;
	top: 100px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterL {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 500px;
	top: 100px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterM {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 0px;
	top: 200px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterN {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 100px;
	top: 200px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterO {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 200px;
	top: 200px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterP {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 300px;
	top: 200px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterQ {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 400px;
	top: 200px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterR {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 500px;
	top: 200px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterS {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 0px;
	top: 300px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}

.letterT {
	width: 74px;
	height: 88px;
	position: absolute;
	background: white;
	left: 100px;
	top: 300px;
	/* use this script to scale up
	-ms-transform: scale(2,2); 
    -webkit-transform: scale(2,2); 
    transform: scale(2,2); */
}


.topleftline {
		border-top:1px solid black;
		width:13px;
		transform: rotate(45deg);
		transform-origin: 0% 0%;
        position: absolute;
}

.toprightline {
		border-top:1px solid black;
		width:13px;
		transform: rotate(135deg);
		transform-origin: 0% 0%;
        position: absolute;
        left: 9.5px;
}

.column1 {
	width:9px;
	height: 88px;
	position: absolute;
}


.a1 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.a2 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;

}

.a3 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;

}

.a4 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;

}

.a5 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;

}

.a6 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;

}

.a7 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;

}

.a8 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;

}

.column2 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 9px;
}

.b1 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.b2 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.b3 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.b4 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.b5 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.b6 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.b7 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.b8 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.column3 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 18px;
}

.c1 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.c2 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.c3 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.c4 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.c5 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.c6 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.c7 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.c8 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.column4 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 27px;
}

.d1 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.d2 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.d3 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.d4 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.d5 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.d6 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.d7 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.d8 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.column5 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 36px;
}

.e1 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.e2 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.e3 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.e4 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.e5 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.e6 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.e7 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.e8 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.column6 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 45px;
}

.f1 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.f2 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.f3 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.f4 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.f5 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.f6 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.f7 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.f8 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.column7 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 54px;
}

.g1 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.g2 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.g3 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.g4 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.g5 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.g6 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.g7 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.g8 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.column8 {
	width:9px;
	height: 88px;
	position: absolute;
	left: 63px;
}

.h1 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.h2 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.h3 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.h4 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.h5 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.h6 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.h7 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}

.h8 {
	width:9px;
	height:9px;
	border: 1px solid black;
	position: relative;
}