body {
	background: white;
	font-family: "Courier New", Courier, monospace;
}

ul {
	list-style: circle;
	text-decoration: none;
}

a {
	color: #ffcc00;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF;
	text-decoration: line-through;
}

h5{
	color: #ffcc00;
	font-size: 48px;
	position: absolute;
	top: 80px;
	left: -105px;
	-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

h6 {
	color: #ffcc00;
	font-size: 48px;
	position: absolute;
	top: -60px;
	left: -35px;
	
}


#canvas {
	width: 600px;
	height: 550px;
	margin: 0px auto;
	position: relative;
}

#left {
	color: #FFFFFF;
	float:left;
	width: 250px;
	height: 300px;
	margin: 100px auto;
	background: #333333;
	position: absolute;
	padding: 20px;
}

#right {
	color: #FFFFFF;
	float: right;
	width: 250px;
	height: 300px;
	margin: 100px auto;
	background: #333333;
	position: absolute;
	left: 280px;
	padding: 20px;
}
#exercises {

}

#projects {

}