@font-face {
  font-family: "sectra";
  src:url("sectra.otf");
}

@font-face {
  font-family: "pressura";
  src:url("pressura.ttf");
}


body {
	margin: 0 auto;
	background: white;
  	overflow-x: hidden;
}


html, body {
    height: 100%;
}

header {
	position: fixed;
	border-bottom: 1px dotted black;
    background: white;
    height: 60px;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    z-index: 999;
}

.allnav {
	position: absolute;
    height: 50px;
    width: 100%;
	left: 50%;
	transform:translate(-50%,0);
}

.nav-up {
    top: -110px;
}


.scrollup:hover {
	opacity: 1;
}

.navigation {
	top: 5px;
	width: 300px;
	height: 10px;
	float: right;
	position: relative;
	right: 5%;
}

.last {
	margin-right: -35px;
}

ul {
	width: 200px;
	font-family: 'pressura';
	font-size: 12pt;
	color: white;
	font-weight: 1000px;
	text-decoration: none;
	width: auto;
	text-align: right;
	list-style: none;
}

li {
	float: left;
	margin-right: 35px;
}

a {
	text-decoration: none;
	color: black;
}

.logo {
	top: 8px;
	left: 4%;
	width: 25px;
	height: 45px;
	float: left;
	position: relative;
}

/* ---------------start of containers-------------------- */

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}


/* ---------------Project Info---------------------------- */

.back {
	height: 100%;
	width:4;
	position: absolute;
	background-color: black;
}

.slideshow {
	display: block;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: fixed;
	width: 50%;
	height: 100%;
	overflow:hidden;
	z-index: -99;
background: rgb(255,215,88);
background: radial-gradient(circle, rgba(255,215,88,1) 0%, rgba(255,205,11,1) 50%, rgba(255,210,116,1) 100%);
-webkit-box-shadow: inset -4px -6px 56px -4px rgba(0,0,0,0.38);
-moz-box-shadow: inset -4px -6px 56px -4px rgba(0,0,0,0.38);
box-shadow: inset -4px -6px 56px -4px rgba(0,0,0,0.38);

}

.slideshowmod{
	position: fixed;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-width: 50%;
    width: 40%;
    left: 4%;
	height: 100%;
	overflow: hidden;
	display: block;

}

.image {
	position: absolute;
	z-index: 1000;
	display: none;
	top: 50%;
	transform: translate(0,-50%);
} 

.description {
	position: absolute;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: white;
	max-width: 50%;
	width: 80%;
	height: auto;
	overflow: auto;
	z-index: 995;
	top: 375px;
	padding-left: 5%;
	padding-right: 5%;
	left: 50%;
	padding-bottom: 10%;
	-webkit-box-shadow: 0px -7px 39px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -7px 39px -1px rgba(0,0,0,0.75);
	box-shadow: 0px -7px 39px -1px rgba(0,0,0,0.75);
}

.rule {
	border-bottom: 1px dotted black;
	width: 100%;
	height: 10px;
}

.headcopy{
	padding-top: 25px;
	padding-bottom: 0px;
	max-height: 55px;
	height: 100%;
	font-weight: 700;
	width:100%;
	font-family: 'sectra', serif;
	font-size: 36pt;
}

.bodycopy{
	padding-top: 20px;
	width:100%;
	font-family: 'Fira Mono', monospace;
	font-size: 24pt;
	line-height: 1.3em;

}

.bodycopy2{
	padding-top: 18px;
	width:100%;
	font-family: 'Fira Mono', monospace;
	font-size: 18pt;

}

.hidden {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	position:fixed;
	left: 50%;
	display: block;
	max-width: 50%;
	width: 100%;
	max-height: 400px;
	height: 100%;
	background: url('thesis.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}


/* ---------------bottom nav---------------------------- */

.footer {
	max-width: 50%;
	width:100%;
	height: 6%;
    position: fixed;
    left: 50%;
    bottom: 0%;
    border-top: 1px dotted black;
    z-index: 10000;
}

.footlink {
	padding-top: 2%;
	text-align: center;
	float: left;
	max-width: 33%;
	width: 100%;
	height: 100%;
	background: white;
	border-right: 1px dotted black;

}

.footlink:hover {
	background: #333;

}

/* ---------------GALLERIES-------------------- */

.carousel {
  display: none;
  max-width: 100%;
  width: 100%;
  max-height: 375px;
  padding-top: 0;
  margin-bottom: 25px;
}

.carousel-cell {
  width: 90%;
  height: 275px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.8;
  -webkit-transform: scale(0.80);
          transform: scale(0.80);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 25px;
  height: 25px;
  background: white;
  opacity: 0.6;

}

.flickity-prev-next-button:hover {
  background: white;
  opacity: 1;
}

/* arrow color */
.flickity-prev-next-button .arrow {
  fill: black;
}

.flickity-prev-next-button.no-svg {
  color: black;
}

/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }

/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}

.responsive-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	padding:;
}
.responsive-container iframe {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1681px) {

	.bodycopy {
		font-size: 34pt;
	}

	.headcopy {
		font-size: 45pt;
		max-height: 150px;
	}
}

@media (min-width: 1280px) and (max-width: 1680px) {

	.bodycopy {
		font-size: 28pt;
	}

	.headcopy {
		font-size: 40pt;
		max-height: 100px;
	}
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 1024px) and (max-width: 1279px) {
  	.bodycopy {
		font-size: 24pt;
	}

	.headcopy {
		font-size: 35pt;
		max-height: 100px;
	}
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 426px) and (max-width:1023px) {
	.footer {
		max-width:100%;
		left: 0%;
	}

	.slideshow {
		display: none;
	}

	.slideshowmod {
		display: none;
	}

	.description {
		left: 50%;
		transform: translate(-50%,0);
		max-width: 100%;
		padding-left: 0%;
		padding-right: 0%;
		width: 100%;
	}

	.hidden {
		left: 0%;
		max-width: 100%;
	}

	.bodycopy {
		padding-left: 5%;
		padding-right: 5%;
		max-width: 90%
	}

	.headcopy {
		font-size: 40pt;
		padding-left: 5%;
		padding-right: 5%;
		max-width: 90%;
	}

	.carousel {
		padding-top: 25px;
		padding-bottom: 25px;
		display:block;
	}


}


@media (min-width: 0px) and (max-width:425px) {
	.navigation{
		top: 10px;
		width: 250px;
	}

	ul {
		font-size: 10pt;
	}

		.footer {
		max-width:100%;
		left: 0%;
	}

	.slideshow {
		display: none;
	}

	.slideshowmod {
		display: none;
	}

	.description {
		left: 50%;
		transform: translate(-50%,0);
		max-width: 100%;
		padding-left: 0%;
		padding-right: 0%;
		width: 100%;
	}

	.hidden {
		left: 0%;
		max-width: 100%;
	}

	.bodycopy {
		font-size: 14pt;
		padding-left: 5%;
		padding-right: 5%;
		max-width: 90%
	}

	.headcopy {
		font-size: 30pt;
		padding-left: 5%;
		padding-right: 5%;
		max-width: 90%;
	}

	.carousel {
		display:block;
	}