.container {
	width: 953px;
	height: 3000px;
	background-color: black;
	position: relative;
	margin: auto;
}

.button{
	width: 157px;
	height: 160px;
	top: 500px;
	position: absolute;
}

.show {
	display: none;
	width: 547px;
	height: 480px;
	position: absolute;
}

.button:hover + .show {
	display: block;
}